:root{
    --textcolor :#dcedc8;
    --border:3px solid green;
}

body {
    background-image: url("../images/quiz.jpg");
    height: 800px;
	width: 90%;
    background-size: cover;
    background-repeat: no-repeat;
	
}
button,.submit_btn{
    cursor: pointer;
}
 div,.question,ol,li {

   text-align: center;
   
}
h1{
    text-align: center;
    margin-top :30px;
    padding :10px;
  
}
.ques_div , .validation, #goback,#clearscore
{
    display: none;

}
#choices > div{
    cursor: pointer;
    padding: 10px;
}
#high_score{
    float: left;
    cursor: pointer;
}
.rules{
    
    color:var(--textcolor);
    padding: 30px;
    margin-bottom: 25px;
    margin-top:25px;
    font-size: 20px;
   
	

}
.display{
    color:var(--textcolor);
    font-size: 20px;
}
/* #timer{
    float: right;
} */
.finalScore_div
{
    display: none;
    margin-top :30px;
    padding-top:30px;
    font-size :15pt;
    color:var(--textcolor);}

header text{
    float: right;
   
    /* display: inline-block; */
}
.startbt {
    margin: auto;
    width: 20%;
    border: var(--border);
    padding: 10px;
    color: black;
    border-radius: 10px;
  }
  .btn_class_goback{
    margin-top :180px;
    margin-left: 450px;
    width: 15%;
    border: var(--border);
    padding: 10px;
    color: black;
    border-radius: 10px; 
  }
  .btn_class_clear{
    margin-top :180px;
    margin-left: 50px;
    width: 15%;
    border: var(--border);
    padding: 10px;
    color: black;
    border-radius: 10px; 
  }
  .submit_btn{
    margin: 10px;
    width: 15%;
    border: var(--border);
    padding: 10px;
    color: black;
    border-radius: 10px;
  }
  header,#view{
    color: #fff9c4;
    
  }
  